<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>
    hid.im
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="Encode your torrents to images"/>

  <%= stylesheet_link_tag "jquery.lightbox", "application" -%>

  <!--[if IE 6]>
    <%= stylesheet_link_tag 'base_ie6', 'application_ie6' -%>
  <![endif]-->
  <!--[if IE 7]>
    <%= stylesheet_link_tag 'base_ie7', 'application_ie7' -%>
  <![endif]-->

  <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.lightbox.min' -%>
</head>

<body>

  <h1>hid.im</h1>

  <div id="content">
    
    <%= yield %>

    <div class="push"></div>

  </div>
  <div id="footer">
    <p>
      Hid.im is a <a href="http://nuttnet.net">mnutt</a> and <a href="http://zootella.com">zootella</a> production.
    </p>
  </div>

<%= render :partial => 'tracker' -%>

</body>
</html>
